.checkBoxContainer {
    display: flex;
    align-items: center;
    padding: 7px;
    justify-content: flex-start;
    margin-bottom: 12px;
    height: 55px;
}

.checkBoxContainer input {
    display: block;
    width: 24px;
    margin-left: 7px;
    margin-right: 15px;
    cursor: pointer;
}

input[type='checkbox'] {
    accent-color: #3b6fff;
}

.checkBoxContainer p {
    user-select: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

#checkboxLight {
    background-color: rgb(247, 248, 252);
    border: 1px solid rgba(76, 80, 82, 0.432);
}

#checkboxLight .completed {
    text-decoration: line-through;
    color: rgb(143, 143, 143) !important;
}

#checkboxLight .incomplete {
    color: rgb(99, 92, 92) !important;
}

#checkboxDark {
    background-color: #313131;
    border: 1px solid #484848;
}

#checkboxDark .completed {
    text-decoration: line-through;
    color: rgb(160, 160, 160) !important;
}

#checkboxDark .incomplete {
    color: rgb(206, 206, 206) !important;
}