.checkBoxContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    gap: 15px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: fit-content;
}

.checkBoxContainer input {
    display: block;
    width: 24px;
    cursor: pointer;
    flex-shrink: 0;
}

input[type='checkbox'] {
    accent-color: #7c4dff;
}

.checkBoxContainer p {
    user-select: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

#checkboxLight {
    background-color: rgb(247, 248, 252);
    border: 1px solid #d8d8d8;
}

#checkboxLight .completed {
    text-decoration: line-through;
    color: rgb(99, 92, 92) !important;
}

#checkboxLight .incomplete {
    color: rgb(99, 92, 92) !important;
}

#checkboxDark {
    background-color: rgb(37, 37, 37);
    border: 1px solid #383838;
}

#checkboxDark .completed {
    text-decoration: line-through;
    color: rgb(160, 160, 160) !important;
}

#checkboxDark .incomplete {
    color: rgb(206, 206, 206) !important;
}