.header img {
    width: 27px;
    height: fit-content;
    filter: invert(56%) sepia(6%) saturate(544%) hue-rotate(183deg) brightness(89%) contrast(94%);
    cursor: pointer;
    margin-right: 4px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.saveChanges {
    background-color: #7c4dff;
    width: 150px;
    height: 45px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.saveChanges:hover {
    background-color: #8d64ff;
}

.subtasks {
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#descLight {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 17px;
    color: rgb(99, 92, 92) !important;
}

#descDark {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 17px;
    color: rgb(197, 197, 197) !important;
}

.sectionTitle p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sectionTitle {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
}

.sectionTitle label {
    margin-bottom: 0px;
}