.header img {
    width: 27px;
    height: fit-content;
    filter: invert(56%) sepia(6%) saturate(544%) hue-rotate(183deg) brightness(89%) contrast(94%);
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#desc {
    margin-top: 30px;
    margin-bottom: 30px;
}