.header img {
    width: 27px;
    height: fit-content;
    filter: invert(56%) sepia(6%) saturate(544%) hue-rotate(183deg) brightness(89%) contrast(94%);
    cursor: pointer;
    margin-right: 4px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#desc {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 27px;
}

.saveChanges {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid rgb(36, 107, 238);
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.saveChanges:hover {
    background-color: rgb(36, 107, 238);
}

.sectionTitle {
    color: rgb(228, 228, 228) !important;
    margin-bottom: 9px;
    font-size: 18px;
}

.sectionTitle span {
    display: block;
    margin-bottom: 3px;
}