.task {
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.1s ease-in-out all;
}

.task:hover {
    transform: scale(1.02);
}

.task h2 {
    font-size: 22px;
    letter-spacing: 0.7px;
}

#highlight {
    background-color: #ffdb3b;
    color: #262675;
}

.taskWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 13px;
}

.taskPriority {
    display: flex;
    align-items: center;
    gap: 9px;
}

#Low {
    color: rgb(250, 247, 247);
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #0e9ef1;
    width: fit-content;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
}

#Medium {
    color: rgb(250, 247, 247);
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #0db41e;
    width: fit-content;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
}

#High {
    color: rgb(250, 247, 247);
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #e89417;
    width: fit-content;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
}

#Critical {
    color: rgb(250, 247, 247);
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #ff5d4a;
    width: fit-content;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
}

#taskLight {
    background-color: rgb(248, 250, 255);
    box-shadow: 0px 0px 8px rgba(33, 33, 53, 0.171);
    border: 1px solid rgb(236, 236, 238);
}

#taskLight .countSubtasks {
    color: #ee7301 !important;
    font-size: 16px;
    width: fit-content;
}

#taskLight #modified {
    margin-top: 6px;
    color: rgb(99, 92, 92);
}

#taskLight h2 {
    color: #262675;
}

#taskDark {
    background-color: #494949;
    box-shadow: 0px 0px 10px #11111188;
    border: 1px solid #2c2c339f;
}

#taskDark h2 {
    color: rgb(250, 247, 247);
}

#taskDark #modified {
    margin-top: 6px;
    color: #d8d8d8;
    font-size: 16px;
}

#taskDark .countSubtasks {
    color: #ffa652 !important;
    font-size: 16px;
    width: fit-content;
}