.task {
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.1s linear all;
}

.task:hover {
    transform: scale(1.02);
}

.task h2 {
    font-size: 22px;
    letter-spacing: 0.7px;
}

#highlight {
    background-color: rgb(255, 208, 0);
    color: #262675;
}

.taskWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 13px;
}

.countSubtasks {
    color: rgb(250, 247, 247) !important;
    font-size: 15px;
    background-color: #3b6fff;
    width: fit-content;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

.taskPriority {
    display: flex;
    align-items: center;
    gap: 9px;
}

.priorityCircle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: transparent;
}

#Low {
    color: #0e9ef1;
    letter-spacing: 0.5px;
}

#Low .priorityCircle {
    background-color: #0e9ef1;
}

#Medium {
    color: #0db41e;
    letter-spacing: 0.5px;
}

#Medium .priorityCircle {
    background-color: #0db41e;
}

#High {
    color: #e89417;
    letter-spacing: 0.5px;
}

#High .priorityCircle {
    background-color: #e89417;
}

#Critical {
    color: #ff5d4a;
    letter-spacing: 0.5px;
}

#Critical .priorityCircle {
    background-color: #ff5d4a;
}

#taskLight {
    background-color: rgb(248, 250, 255);
    box-shadow: 0px 0px 8px rgba(33, 33, 53, 0.089);
    border: 1px solid rgba(128, 128, 128, 0.349);
}

#taskLight #modified {
    margin-top: 6px;
    color: rgb(99, 92, 92);
}

#taskLight h2 {
    color: #262675;
}

#taskDark {
    background-color: #494949;
    box-shadow: 0px 0px 10px #11111188;
    border: 1px solid #2c2c339f;
}

#taskDark h2 {
    color: rgb(250, 247, 247);
}

#taskDark #modified {
    margin-top: 6px;
    color: #d8d8d8;
}