.task {
    background: linear-gradient(to bottom, rgba(83, 85, 119, 0.795), rgba(59, 61, 90, 0.699));
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    width: 100%;
    box-shadow: 0px 0px 7px rgba(33, 33, 53, 0.438);
}

.task:hover {
    transform: translateY(5px);
}

.task h3 {
    color: rgb(228, 228, 228);
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 0.7px;
}

.countSubtasks {
    color: rgb(45, 202, 142) !important;
    font-size: 17px;
}