.columnDropdown {
    width: 100%;
    padding: 10px;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
}

#dropdownLight {
    color: rgb(99, 92, 92);
    border: 1px solid rgba(76, 80, 82, 0.432);
    background-color: rgb(247, 248, 252);
}

#dropdownDark {
    background-color: #313131;
    color: rgb(250, 247, 247);
    border: 1px solid #484848;
}

#limit {
    margin-bottom: 11px;
    color: rgb(255, 87, 87) !important;
    font-size: 16px;
    margin-top: 0px;
}