.sidebar {
    width: 340px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s all ease-out;
}

.themeToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: auto;
    padding: 12px;
    margin: 25px;
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderLight {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #7c4dff, #a98aff);
    -webkit-transition: .2s;
    transition: 0.2s all ease-in-out;
    border-radius: 20px;
}

.sliderLight:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.sliderDark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #7c4dff, #a98aff);
    -webkit-transition: .2s;
    transition: 0.2s all ease-in-out;
    border-radius: 20px;
}

.sliderDark:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 34px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#title {
    padding: 25px;
    padding-bottom: 35px;
    letter-spacing: 1px;
}

.boardOptionsWrapper {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

#createBoard {
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    transition: 0.2s ease-in-out all;
    width: 100%;
    color: #262675;
    background-color: #ffd71c;
    border: 1px solid #f7ce18;
}

#createBoard:hover {
    background-color: #f3ca13;
}

#searchBoard {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.hideSidebar {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 40px;
    gap: 8px;
    cursor: pointer;
    font-size: 17px;
}

.hideSidebar img {
    width: 17px;
    height: 17px;
}

.boardCount {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 25px;
    gap: 13px;
    height: 30px;
}

.allBoards ul {
    list-style: none;
    overflow-y: scroll;
    max-height: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.allBoards ul::-webkit-scrollbar {
    display: none;
}

.boardLoading div {
    width: 95%;
    height: 48px;
    margin-bottom: 7px;
    margin-top: 7px;
    transition: 0.1s ease-out all;
    border: 2px solid transparent;
    border-left: none;
}

.allBoards ul div {
    width: 95%;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 7px;
    margin-top: 7px;
    transition: 0.1s ease-out all;
    border: 2px solid transparent;
    border-left: none;
}

.curBoard {
    border-left: none;
    padding-left: 25px !important;
}

.boardCount p,
#loadingBoards {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.boardStyle:hover {
    padding-left: 25px;
}

.allBoards ul div p {
    padding-left: 25px;
}

#sidebarLight {
    background-color: #fbfcfe;
    box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.178);
    border-right: 1px solid #d8d8d8;
}

#sidebarLight .boardLoading div {
    animation: board-loading-light 0.7s linear infinite alternate;
}

#sidebarLight #title {
    color: #262675;
}

#sidebarLight .themeToggle {
    background-color: #eeeefb93;
    color: #504f4f !important;
}

#sidebarLight .selected {
    color: #262675;
}

#sidebarLight .boardStyle {
    color: #262675;
    background-color: #eeeefb;
}

#sidebarLight .boardStyle:hover {
    border: 2px solid #7c4dff;
    background: #7c4dff !important;
    color: rgb(250, 247, 247) !important;
}

#sidebarLight .boardCount p,
#loadingBoards {
    color: rgb(250, 247, 247);
}

#sidebarLight .boardCount p {
    color: #262675;
}

#sidebarLight .curBoard {
    border: 2px solid #7c4dff;
    background: #7c4dff !important;
    color: rgb(250, 247, 247) !important;
}

#sidebarLight .boardOptionsWrapper {
    background-color: #eeeefb93;
}

#sidebarLight #searchBoard {
    background-color: #f9fafc;
    color: rgb(99, 92, 92) !important;
    border: 1px solid #d8d8d8;
}

#sidebarLight .hideSidebar {
    color: #262675;
}

#sidebarLight .hideSidebar img {
    filter: invert(15%) sepia(47%) saturate(1995%) hue-rotate(219deg) brightness(108%) contrast(105%);
}

#sidebarDark {
    box-shadow: 0px 0px 4px #000000;
    background-color: rgb(24, 24, 24);
    border-right: 1px solid rgb(50, 50, 50);
}

#sidebarDark .boardLoading div {
    animation: board-loading-dark 0.7s linear infinite alternate;
}

#sidebarDark #title {
    color: rgb(250, 247, 247);
}

#sidebarDark .themeToggle {
    background-color: rgb(37, 37, 37);
    color: rgb(148, 146, 146) !important;
}

#sidebarDark .selected {
    color: rgb(250, 247, 247);
}

#sidebarDark .boardStyle {
    color: rgb(250, 247, 247);
    background-color: rgb(37, 37, 37);
}

#sidebarDark .boardStyle:hover {
    background-color: #7c4dff;
    border: 2px solid #7c4dff;
}

#sidebarDark .boardCount p,
#loadingBoards {
    color: rgb(250, 247, 247);
}

#sidebarDark .curBoard {
    background-color: #7c4dff;
    border: 2px solid #7c4dff;
    color: rgb(250, 247, 247);
}

#sidebarDark .boardOptionsWrapper {
    background-color: rgba(37, 37, 37, 0.685);
}

#sidebarDark #searchBoard {
    background-color: rgb(37, 37, 37);
    border: 1px solid rgba(79, 79, 79, 0.532);
    color: #e6e6e6;
}

#sidebarDark .hideSidebar {
    color: rgb(250, 247, 247);
}

#sidebarDark .hideSidebar img {
    filter: invert(79%) sepia(92%) saturate(0%) hue-rotate(204deg) brightness(93%) contrast(92%);
}

@media screen and (max-height: 860px) {
    .sidebar {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@keyframes board-loading-light {
    0% {
        background-color: #eeeefb;
    }

    100% {
        background-color: #d0d0df;
    }
}

@keyframes board-loading-dark {
    0% {
        background-color: rgb(51, 51, 51);
    }

    100% {
        background-color: rgb(37, 37, 37);
    }
}