.sidebar {
    width: 320px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s all ease-out;
}

.themeToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 25px;
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(36, 107, 238), rgb(45, 202, 142));
    -webkit-transition: .2s;
    transition: 0.2s all ease-in-out;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(92, 96, 230);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(92, 96, 230);
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

#title {
    padding: 25px;
    padding-bottom: 35px;
    color: white;
    letter-spacing: 1px;
}

#createBoard {
    transition: 0.1s linear all;
    background-color: transparent !important;
    margin: 20px;
    cursor: pointer;
    font-size: 18px;
    width: fit-content;
}

#createBoard {
    color: rgb(45, 202, 142);
}

#createBoard:hover {
    color: rgb(55, 226, 161);
}

.hideSidebar {
    display: flex;
    align-items: center;
    color: rgb(45, 202, 142);
    margin-left: 25px;
    margin-bottom: 40px;
    gap: 7px;
    cursor: pointer;
    width: fit-content;
    transition: 0.1s linear all;
    font-size: 17px;
}

.hideSidebar img {
    width: 17px;
    filter: invert(55%) sepia(13%) saturate(261%) hue-rotate(183deg) brightness(90%) contrast(93%);
}

.hideSidebar:hover {
    color: rgb(55, 226, 161);
}

.boardCount {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 25px;
    gap: 13px;
}

.allBoards ul {
    list-style: none;
    padding-left: 0px;
    overflow-y: scroll;
    max-height: 600px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.allBoards ul::-webkit-scrollbar {
    display: none;
}

.allBoards ul div {
    width: 95%;
    padding: 10px;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.1s linear all;
    border: 2px solid transparent;
    border-left: none;
}

.curBoard {
    border-left: none;
    padding-left: 25px !important;
}

.boardCount p,
#loadingBoards {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.boardStyle:hover {
    padding-left: 25px;
}

.allBoards ul div p {
    padding-left: 25px;
}

#sidebarLight {
    border-right: 2px solid rgb(36, 107, 238);
    box-shadow: 0px 0px 10px rgba(4, 4, 7, 0.486);
    background-color: rgb(36, 107, 238);
}

#sidebarLight .themeToggle {
    background-color: rgb(250, 249, 249);
    color: gray !important;
}

#sidebarLight .selected {
    color: rgb(46, 47, 48);
}

#sidebarLight .allBoards ul div {
    color: rgb(242, 244, 248);
}

#sidebarLight .boardCount p,
#loadingBoards {
    color: rgb(255, 255, 255);
}

#sidebarLight .curBoard {
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: rgb(39, 39, 39) !important;
}

#sidebarLight .boardStyle:hover {
    border: 2px solid rgb(255, 255, 255) !important;
    border-left: none !important;
}

#sidebarLight #createBoard {
    color: rgb(195, 255, 220);
}

#sidebarLight #createBoard:hover {
    color: rgb(179, 235, 202);
}

#sidebarLight .hideSidebar {
    color: rgb(195, 255, 220);
}

#sidebarLight .hideSidebar:hover {
    color: rgb(179, 235, 202);
}

#sidebarDark {
    border-right: 2px solid rgb(40, 40, 85);
    box-shadow: 0px 0px 10px rgba(4, 4, 7, 0.486);
    background-color: rgb(46, 46, 97);
}

#sidebarDark .themeToggle {
    background-color: rgb(35, 36, 63);
    color: rgb(125, 130, 141);
}

#sidebarDark .selected {
    color: white;
}

#sidebarDark .boardCount p,
#loadingBoards {
    color: rgb(202, 206, 214);
}

#sidebarDark .allBoards ul div {
    color: rgb(223, 224, 224);
}

#sidebarDark .curBoard {
    border: 2px solid rgb(36, 107, 238);
    background: rgb(36, 107, 238);
    color: white !important;
}

#sidebarDark .boardStyle:hover {
    border: 2px solid rgb(36, 107, 238) !important;
    border-left: none !important;
}