.sidebar {
    width: 340px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s all ease-out;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.themeToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: auto;
    padding: 12px;
    margin: 25px;
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #3b6fff, #71a3ff);
    -webkit-transition: .2s;
    transition: 0.2s all ease-in-out;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(30px);
}

#title {
    padding: 25px;
    padding-bottom: 35px;
    color: rgb(250, 247, 247);
    letter-spacing: 1px;
}

.boardOptionsWrapper {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

#createBoard {
    background-color: transparent !important;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    transition: 0.2s ease-in-out all;
    width: 100%;
}

#searchBoard {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.hideSidebar {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 40px;
    gap: 8px;
    cursor: pointer;
    font-size: 17px;
    color: rgb(250, 247, 247);
}

.hideSidebar img {
    width: 17px;
    height: 17px;
    filter: invert(79%) sepia(92%) saturate(0%) hue-rotate(204deg) brightness(93%) contrast(92%);
}

.boardCount {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 25px;
    gap: 13px;
    height: 30px;
}

.allBoards ul {
    list-style: none;
    overflow-y: scroll;
    max-height: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.allBoards ul::-webkit-scrollbar {
    display: none;
}

.allBoards ul div {
    width: 95%;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 7px;
    margin-top: 7px;
    transition: 0.1s ease-out all;
    border: 2px solid transparent;
    border-left: none;
}

.curBoard {
    border-left: none;
    padding-left: 25px !important;
}

.boardCount p,
#loadingBoards {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.boardStyle:hover {
    padding-left: 25px;
}

.allBoards ul div p {
    padding-left: 25px;
}

#sidebarLight {
    background-color: #3b6fff;
    box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.534);
}

#sidebarLight .themeToggle {
    background-color: #eeeeff;
    color: #737375 !important;
}

#sidebarLight .selected {
    color: #262675;
}

#sidebarLight .boardStyle {
    color: rgb(250, 247, 247);
    background-color: #eeeeff1a;
}

#sidebarLight .boardStyle:hover {
    border: 2px solid #eeeeff;
    background: #eeeeff;
    color: #262675 !important;
}

#sidebarLight .boardCount p,
#loadingBoards {
    color: rgb(250, 247, 247);
}

#sidebarLight .curBoard {
    border: 2px solid #eeeeff;
    background: #eeeeff !important;
    color: #262675 !important;
}

#sidebarLight #createBoard {
    color: rgb(250, 247, 247);
    background-color: #22224E !important;
    border: none;
}

#sidebarLight #createBoard:hover {
    background-color: #2b2b55 !important;
}

#sidebarLight .boardOptionsWrapper {
    background-color: #eeeeff27;
}

#sidebarLight #searchBoard {
    background-color: #eeeeff;
    color: #5f5f61 !important;
}

#sidebarDark {
    box-shadow: 0px 0px 4px #000000;
    background-color: rgb(24, 24, 24);
    border-right: 1px solid rgb(50, 50, 50);
}

#sidebarDark .themeToggle {
    background-color: rgb(37, 37, 37);
    color: rgb(148, 146, 146) !important;
}

#sidebarDark .selected {
    color: rgb(250, 247, 247);
}

#sidebarDark .boardStyle {
    color: rgb(250, 247, 247);
    background-color: rgb(37, 37, 37);
}

#sidebarDark .boardStyle:hover {
    background-color: #3b6fff;
    border: 2px solid #3b6fff;
}

#sidebarDark .boardCount p,
#loadingBoards {
    color: rgb(250, 247, 247);
}

#sidebarDark .curBoard {
    background-color: #3b6fff;
    border: 2px solid #3b6fff;
    color: rgb(250, 247, 247);
}

#sidebarDark #createBoard {
    color: rgb(250, 247, 247);
    background-color: #3b6fff !important;
    border: none;
}

#sidebarDark #createBoard:hover {
    background-color: #4d7cff !important;
}

#sidebarDark .boardOptionsWrapper {
    background-color: rgba(35, 35, 35, 0.333);
}

#sidebarDark #searchBoard {
    background-color:rgb(37, 37, 37);
    border: 1px solid rgba(79, 79, 79, 0.532);
    color:#e6e6e6;
}