.popUp {
    background-color: rgb(45, 47, 77);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(4, 4, 7, 0.445);
    overflow-y: scroll;
    max-height: 90%;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.popUp h1 {
    color: rgb(45, 202, 142);
    font-size: 25px;
    user-select: none;
}

.popUp label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    color: rgb(228, 227, 227);
    font-size: 18px;
}

.popUp input {
    width: 100%;
    height: 40px;
}

.popUp input,
textarea {
    background-color: transparent;
    border: 1px solid rgba(158, 158, 158, 0.336);
    color: rgb(228, 227, 227);
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}

.popUp textarea {
    width: 100%;
}

#exit {
    display: block;
    margin-left: auto;
    background: transparent;
    border: 2px solid rgb(65, 154, 255);
    border-radius: 8px;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#exit:hover {
    background-color: rgb(65, 154, 255);
}