.popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    overflow-y: scroll;
    max-height: 90%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.popUp h1 {
    font-size: 25px;
}

.popUp label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    z-index: 3;
}

.popUp::-webkit-scrollbar {
    display: none;
}

.popUp p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.popUp input,
textarea {
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.popUp input {
    width: 100%;
    height: 40px;
}

.popUp textarea {
    width: 100%;
}

#exit {
    display: block;
    margin-left: auto;
    background-color: rgb(243, 63, 63);
    border: none;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#exit:hover {
    background-color: rgb(218, 57, 57);
}

#popUpLight {
    background-color: rgba(80, 80, 80, 0.151);
}

#popUpLight .popUp {
    background: rgb(248, 249, 252);
    box-shadow: 0px 0px 5px rgba(4, 4, 7, 0.13);
    border: 1px solid #d8d8d8;
}

#popUpLight .popUp p {
    color: #262675;
}

#popUpLight input,
#popUpLight textarea {
    background-color: transparent;
    border: 1px solid #d8d8d8;
    color: rgb(99, 92, 92);
}

#popUpLight .popUp label {
    color: #262675;
}

#popUpLight .popUp h1 {
    color: #28336e;
}

#popUpDark {
    background-color: rgba(19, 19, 19, 0.616);
}

#popUpDark .popUp {
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 0px 5px rgba(4, 4, 7, 0.445);
    border: 1px solid rgb(50, 50, 50);
}

#popUpDark .popUp p {
    color: #e6e6e6;
}

#popUpDark .popUp h1 {
    color: #f5f5f5;
}

#popUpDark .popUp label {
    color: #dbdbdb;
}

#popUpDark input,
#popUpDark textarea {
    background-color: rgb(37, 37, 37);
    border: 1px solid rgba(79, 79, 79, 0.532);
    color: #e6e6e6;
}