.popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    overflow-y: scroll;
    max-height: 90%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 5px;
}

.popUp h1 {
    color: #3b6fff;
    font-size: 25px;
}

.popUp label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 49, 0.514);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    z-index: 1;
}

.popUp::-webkit-scrollbar {
    display: none;
}

.popUp p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #262675;
}

.popUp input,
textarea {
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}

.popUp input {
    width: 100%;
    height: 40px;
}

.popUp textarea {
    width: 100%;
}

#exit {
    display: block;
    margin-left: auto;
    background-color: rgb(243, 63, 63);
    border: none;
    box-shadow: 0px 0px 5px rgba(19, 19, 19, 0.281);
    border-radius: 8px;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#exit:hover {
    background-color: rgb(218, 57, 57);
}

#popUpLight {
    background-color: rgba(21, 21, 49, 0.377);
}

#popUpLight .popUp {
    background: rgb(248, 249, 252);
    box-shadow: 0px 0px 10px rgba(4, 4, 7, 0.445);
}

#popUpLight input,
#popUpLight textarea {
    background-color: transparent;
    border: 1px solid rgba(76, 80, 82, 0.418);
    color: rgb(99, 92, 92);
}

#popUpLight .popUp label {
    color: #262675;
}