.board {
    margin-left: 320px;
    width: calc(100vw - 320px);
    height: calc(100vh - 100px);
    overflow-x: scroll;
    display: flex;
    transition: 0.2s all ease-out;
}

.loadingHide {
    opacity: 0;
    visibility: collapse;
}

#loading {
    color: rgb(228, 228, 228);
    font-size: 29px;
    background-color: #3b6fff;
    position: absolute;
    padding: 10px;
    padding-left: 15px;
    width: calc(100vw - 320px);
    transition: 0.2s all ease-out;
}

.noBoards {
    align-self: center;
    margin: auto;
}

.noBoards h1 {
    color: #3b6fff;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.noBoards h2 {
    width: 250px;
    text-align: center;
    margin: auto;
}

#boardLight {
    background-color: rgb(238, 243, 255);
}

#boardLight #createToStart {
    color: rgb(39, 39, 39);
    font-size: 29px;
}

#boardDark {
    background-color: rgb(16, 16, 16);
}

@media screen and (max-width: 740px) {
    .board {
        flex-direction: column-reverse;
        align-items: center;
    }
}