.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 410px;
    background: linear-gradient(rgb(26, 24, 44), rgb(28, 24, 46));
    padding: 25px;
    border-radius: 20px;
}

.column p {
    color: rgb(125, 130, 141);
}

#colorId {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.columnTitle {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-left: auto;
    margin-right: auto;
}

.countIcon {
    background: rgb(221, 55, 91);
    color: white;
    border: none;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    user-select: none;
}