.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 390px;
    border-radius: 7px;
    padding: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 30px;
    margin-right: 0px;
}

#newColumnTitle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    text-align: center;
    user-select: none;
}

.column::-webkit-scrollbar {
    display: none;
}

#colorId {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.columnTitle {
    display: flex;
    align-items: center;
    gap: 13px;
    width: 100%;
    justify-content: center;
}

.countIcon {
    background: rgb(45, 202, 142);
    color: rgb(46, 47, 48);
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    user-select: none;
}

#noHover {
    background-color: rgba(53, 53, 105, 0.233);
}

.newColumnLight {
    color: white;
    flex: 1;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.2s ease all;
    min-width: 400px;
    margin: 30px;
    background-color: rgb(36, 107, 238);
    box-shadow: 0px 0px 10px rgba(24, 24, 36, 0.418);
}

.newColumnLight:hover {
    background: rgb(63, 121, 230);
}

.newColumnLight #newColumnTitle {
    color: white;
}

#columnLight {
    background-color: rgb(244, 245, 253);
    box-shadow: 0px 0px 10px rgba(24, 24, 36, 0.158);
}

#columnLight #title {
    color: rgb(39, 39, 39);
}

#columnLight .newColumn {
    background: rgb(36, 107, 238);
    box-shadow: 0px 0px 10px rgb(24, 24, 36);
}

#columnDark {
    background: linear-gradient(to bottom, rgb(41, 41, 87), rgb(41, 41, 87));
    box-shadow: 0px 0px 10px rgb(24, 24, 36);
}

#columnDark #title {
    color: rgb(165, 169, 190);
}

.newColumnDark {
    flex: 1;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.2s ease all;
    min-width: 400px;
    margin: 30px;
    background: rgb(45, 45, 92);
    box-shadow: 0px 0px 10px rgb(24, 24, 36);
}

.newColumnDark:hover {
    background: rgb(53, 53, 105);
}

.newColumnDark #newColumnTitle {
    color: rgb(45, 202, 142);
}