.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.column p {
    color: rgb(125, 130, 141);
}

#colorId {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.columnTitle {
    display: flex;
    align-items: center;
    gap: 13px;
}

.countIcon {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(255, 65, 106);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    user-select: none;
}