.options {
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.options button {
    width: 90px;
    font-size: 15px;
}

#yes {
    color: rgb(250, 247, 247);
    background-color: #7c4dff;
    border: none;
    padding: 9px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#yes:hover {
    background-color: #8d64ff;
}

#title {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 18px;
}

#cancelLight {
    background-color: transparent;
    color: #22224E;
    border: none;
    cursor: pointer;
}

#cancelDark {
    background-color: transparent;
    color: rgb(250, 247, 247);
    border: none;
    cursor: pointer;
}

.visibilityDescLight {
    color: rgb(67, 64, 64) !important;
    font-size: 15px !important;
}

.visibilityDescLight i {
    font-weight: bold;
}

.visibilityDescDark {
    color: #cccccc !important;
    font-size: 15px !important;
}

.visibilityDescDark i {
    font-weight: bold;
}