nav {
    padding-right: 25px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s all ease-out;
    overflow: visible;
}

.fullWidth {
    width: 100%;
    margin-left: 0px;
}

.notFullWidth {
    width: calc(100vw - 340px);
    margin-left: 340px;
}

nav h1 {
    margin-left: 25px;
    font-size: 28px;
    margin-right: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#selected {
    background-color: #7c4dff;
    color: rgb(250, 247, 247);
}

#default {
    background-color: #555555;
    color: rgb(250, 247, 247);
}

#default:hover {
    background-color: rgb(99, 99, 99);
}

nav img {
    width: 32px;
    height: fit-content;
    filter: invert(56%) sepia(6%) saturate(544%) hue-rotate(183deg) brightness(89%) contrast(94%);
    cursor: pointer;
}

.statusToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
}

.statusToggle button {
    background-color: transparent;
    border: none;
    padding: 4px;
    width: 70px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.1s ease-in all;
}

.optionsWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#addTask {
    padding: 15px;
    width: 150px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    border: none;
    margin-left: 25px;
    color: #262675;
    background-color: #15f39e;
    border: 1px solid #15ee9b;
}

#addTask:hover {
    background-color: #13e494;
}

.mobileTaskAdd {
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
    font-size: 23px !important;
}

#openSidebar {
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    margin-right: 0px !important;
    transition: 0.2s linear all;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    background-color: #7c4dff;
}

#openSidebar:hover {
    background-color: #8d64ff;
}

#navbarLight {
    border-bottom: 1px solid #d8d8d8;
    background-color: #fbfcfe;
    color: #262675;
}

#navbarDark {
    background-color: rgb(24, 24, 24);
    border-bottom: 1px solid rgb(50, 50, 50);
    color: rgb(250, 247, 247);
}