nav {
    background-color: rgb(46, 47, 77);
    padding-right: 25px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    transition: 0.3s all ease-out;
    overflow: visible;
    border-bottom: 2px solid rgb(37, 37, 54);
}

.fullWidth {
    width: '100%';
    margin-left: '0px';
}

.notFullWidth {
    width: 'calc(100vw - 320px)';
    margin-left: '320px';
}

nav h1 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 28px;
}

nav img {
    width: 32px;
    height: fit-content;
    filter: invert(56%) sepia(6%) saturate(544%) hue-rotate(183deg) brightness(89%) contrast(94%);
    cursor: pointer;
}

.optionsWrapper {
    display: flex;
    align-items: center;
}

#addTask {
    padding: 13px;
    width: 150px;
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background: transparent;
    border: 2px solid rgb(65, 154, 255);
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#addTask:hover {
    background-color: rgb(65, 154, 255) !important;
}

.mobileTaskAdd {
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
    font-size: 23px !important;
}

#openSidebar {
    width: 50px !important;
    background: rgb(65, 154, 255) !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    margin-right: 0px !important;
    transition: 0.2s linear all;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#openSidebar:hover {
    box-shadow: 0px 0px 6px rgb(65, 154, 255) !important;
}