nav {
    background-color: rgb(31, 29, 49);
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-bottom: 1px solid rgb(43, 46, 61);
    transition: 0.3s all ease-out;
}

nav img {
    width: 27px;
    height: fit-content;
    filter: invert(56%) sepia(6%) saturate(544%) hue-rotate(183deg) brightness(89%) contrast(94%);
    cursor: pointer;
}

nav div {
    display: flex;
    align-items: center;
}

nav button {
    padding: 13px;
    width: 150px;
    margin-right: 25px;
    border-radius: 50px;
    border: none;
    color: white;
    background: linear-gradient(to right, rgb(255, 65, 106), rgb(153, 63, 255));
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

nav button:hover {
    box-shadow: 0px 0px 5px rgb(153, 63, 255);
    transform: translateX(5px);
}