.options {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: calc(100% - 248px);
    transition: visibility 0.2s, opacity 0.2s, z-index 0.2s ease-out;
    opacity: 0;
    z-index: -1;
    box-shadow: 0px 0px 10px rgba(12, 12, 12, 0.199);
    margin-top: -20px;
}

#optionsLight {
    background: rgb(247, 248, 255);
    border: 1px solid #cdcdda;
    box-shadow: 0px 0px 7px rgba(33, 33, 53, 0.247);
}

#optionsLight #rename {
    color: rgb(76, 80, 82);
}

#rename {
    background-color: transparent;
    border: 1px solid rgba(158, 158, 158, 0.336);
    color: rgb(228, 227, 227);
    padding: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.options button {
    width: 105px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#delete {
    margin-right: 4px;
    background-color: rgb(255, 71, 71);
    color: white;
}

#delete:hover {
    background-color: rgb(223, 68, 68);
}

#update {
    margin-left: 4px;
    background-color: rgb(66, 230, 121);
    color: rgb(43, 42, 42);
}

#update:hover {
    background-color: rgb(67, 214, 116) !important;
}

#optionsMenu {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin-left: auto;
    padding-left: 15px;
}

#optionsMenu div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #86868a;
}

.wrapper {
    position: relative;
}