.addButtonLight {
    width: 130px;
    height: 40px;
    color: white;
    background-color: #28336e;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    margin: auto;
    margin-top: 20px;
    display: block;
    border: none;
}

.addButtonLight:hover {
    background-color: #2e3a7a;
}

#optionalLight {
    color: rgb(99, 92, 92) !important;
    font-size: 16px;
}

#optionalDark {
    color: rgb(194, 194, 194) !important;
    font-size: 16px;
}

.addButtonDark {
    width: 130px;
    height: 40px;
    color: white;
    background-color: #7c4dff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    margin: auto;
    margin-top: 20px;
    display: block;
    border: none;
}

.addButtonDark:hover {
    background-color: #8d64ff;
}

#invalid {
    background-color: #16161694;
    color: rgb(219, 219, 219);
    cursor: default;
}