.addButton {
    width: 130px;
    height: 40px;
    color: white;
    background-color: #7c4dff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    margin: auto;
    margin-top: 20px;
    display: block;
    border: none;
}

.addButton:hover {
    background-color: #8d64ff;
}

#optionalLight {
    color: rgb(99, 92, 92) !important;
    font-size: 16px;
}

#optionalDark {
    color: rgb(194, 194, 194) !important;
    font-size: 16px;
}

#invalid {
    background-color: #16161694;
    color: rgb(219, 219, 219);
    cursor: default;
}

.loader {
    display: flex;
    width: fit-content;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    gap: 7px;
    align-items: center;
}

.loader div {
    left: 3px;
    width: 10px;
    background: #7c4dff;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    animation-delay: -0.24s;
}

.loader div:nth-child(2) {
    left: 20px;
    animation-delay: -0.12s;
}

.loader div:nth-child(3) {
    left: 37px;
    animation-delay: 0;
}

@keyframes loading {
    0% {
        top: 8px;
        height: 34px;
    }
    50%, 100% {
        top: 24px;
        height: 24px;
    }
}