.addButtonLight {
    width: 130px;
    height: 40px;
    border-radius: 7px;
    color: white;
    background-color: #22224E;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    margin: auto;
    margin-top: 20px;
    display: block;
    border: none;
}

.addButtonLight:hover {
    background-color: #353566;
}

.addButtonDark {
    width: 130px;
    height: 40px;
    border-radius: 7px;
    color: white;
    background-color: #3b6fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    margin: auto;
    margin-top: 20px;
    display: block;
    border: none;
}

.addButtonDark:hover {
    background-color: #4d7cff;
}

#invalid {
    background-color: #16161694;
    color: rgb(219, 219, 219);
    cursor: default;
}