#strength {
    text-transform: uppercase;
}

.passInput {
    display: flex;
}

#hidePass {
    width: 23px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

#pass {
    width: 90% !important;
    border-right: none !important;
}

.disabledSetPassword {
    background-color: #16161694 !important;
    color: rgb(219, 219, 219) !important;
    cursor: default !important;
}

.passwordChecks {
    list-style: none;
    margin-bottom: 10px;
}

.passwordChecks li img {
    vertical-align: middle;
    cursor: default;
    width: 14px;
}

#checkPassword {
    padding: 3px;
    border-radius: 15px;
    width: 117px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    background-color: #7c4dff;
    color: rgb(250, 247, 247);
    box-shadow: 0px 0px 4px rgba(28, 28, 28, 0.373);
}

#checkPassword:hover {
    background-color: #8d64ff;
}

.passwordChecks li {
    font-size: 15px;
    letter-spacing: 0.7px;
}

.line {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
}

#note {
    font-size: 15px;
}

.passwordCriteriaLight .passwordChecks li {
    color: #575757;
}

.passwordCriteriaLight #checked {
    color: #414141;
    font-weight: bold;
}

.passwordCriteriaLight .line {
    background-color: rgba(196, 199, 202, 0.418);
}

.passwordCriteriaLight #note {
    color: rgb(99, 92, 92) !important;
}

.passwordCriteriaLight {
    background-color: rgb(250, 250, 250);
    border: 1px dashed rgba(150, 150, 150, 0.418);
    padding: 15px;
    margin-top: 10px;
}

.passwordCriteriaLight p {
    margin-top: 0px;
    color: #262675 !important;
    font-size: 16px;
}

#setPasswordLight {
    color: rgb(250, 247, 247);
    background-color: #28336e;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    width: 130px;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
}

#setPasswordLight:hover {
    background-color: #2e3a7a;
}

#togglePassIconLight {
    width: 10%;
    border: 1px solid #d8d8d8;
    border-left: none;
    background-color: transparent;
}

.passwordCriteriaDark .passwordChecks li {
    color: rgb(189, 189, 189);
}

.passwordCriteriaDark #checked {
    color: #cccccc;
    font-weight: bold;
}

.passwordCriteriaDark {
    background-color: rgb(36, 36, 36);
    border: 1px dashed rgba(79, 79, 79, 0.532);
    padding: 15px;
    margin-top: 10px;
}

.passwordCriteriaDark p {
    margin-top: 0px;
    font-size: 16px;
}

.passwordCriteriaDark #note {
    color: #cccccc !important;
}

#setPasswordDark {
    color: rgb(250, 247, 247);
    background-color: #7c4dff;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    width: 130px;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
}

#setPasswordDark:hover {
    background-color: #8d64ff;
}

#togglePassIconDark {
    width: 10%;
    border: 1px solid rgba(76, 80, 82, 0.418);
    border-left: none;
    background-color: rgb(37, 37, 37);
}