@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    padding: 0;
}

body {
    background: rgb(32, 33, 56);
}