.passwordCriteria {
    background-color: rgb(244, 244, 248);
    border: 1px solid rgba(76, 80, 82, 0.418);
    padding: 15px;
    border-top: 0px;
}

.passwordCriteria p {
    margin-top: 0px;
    color: rgb(67, 64, 64) !important;
    font-size: 16px;
    font-weight: bold;
}

#strength {
    text-transform: uppercase;
}

.passInput {
    display: flex;
}

#hidePass {
    width: 23px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pass {
    width: 90% !important;
}

#togglePassIcon {
    width: 10%;
    border: 1px solid rgba(76, 80, 82, 0.418);
    border-left: none;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgba(196, 199, 202, 0.418);
    margin-bottom: 10px;
}

#setPassword {
    color: rgb(250, 247, 247);
    background-color: #22224E;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    width: 130px;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
}

#setPassword:hover {
    background-color: #353566;
}

#note {
    color: rgb(99, 92, 92) !important;
    font-weight: normal;
    font-size: 15px;
}

#checkPassword {
    background-color: #3b6fff;
    color: rgb(250, 247, 247);
    padding: 3px;
    border-radius: 15px;
    width: 117px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#checkPassword:hover {
    background-color: #4d7cff;
}

.passwordChecks {
    list-style: none;
    margin-bottom: 10px;
}

.passwordChecks li {
    color: #767676;
    font-size: 15px;
}

#checked {
    color: rgb(67, 64, 64);
    font-weight: bold;
}

.passwordChecks li img {
    vertical-align: middle;
    cursor: default;
    width: 13px;
}