#addSubtask,
#createTask {
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(30, 182, 124);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#addSubtask:hover {
    background-color: rgb(30, 182, 124);
}

#createTask {
    color: white;
    background-color: rgb(65, 154, 255);
    margin-top: 30px;
    border: 2px solid rgb(65, 154, 255);
}

#createTask:hover {
    background-color: transparent;
}

#limit {
    margin-bottom: 11px;
    color: rgb(255, 87, 87);
    font-size: 16px;
}