#addSubtask,
#createTask {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(45, 202, 142);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

#addSubtask:hover {
    background-color: rgb(45, 202, 142);
}

#createTask {
    color: white;
    background-color: rgb(36, 107, 238);
    margin-top: 30px;
    border: 2px solid rgb(36, 107, 238);
}

#createTask:hover {
    background-color: transparent;
}

#limit {
    margin-bottom: 11px;
    color: rgb(255, 87, 87);
    font-size: 16px;
    margin-top: 0px;
}